#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}


h1 {
  color: #fff;
  text-align: center;
  padding: 14px 0px;
  font-size: 23px;
}

Header h2{
  font-size: 17px;
}

footer {
  text-align: center;
}

.ant-layout-header {
  padding: 0 40px;
}

.site-layout-background h1 {
  color: #000000;
}